@use "./breakpoints.scss" as breakpoints;

@media (max-width: breakpoints.$s) {
    .mobile {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .footer-root {
        display: none !important;
    }
}

// Hover effects for footer links and icons
.footerLink {
    &:hover {
        color: var(--accent-strong) !important;
    }
}

.footerIcon {
    &:hover {
        color: var(--accent-strong) !important;
    }
}