.hover {
    border: 1px solid var(--static-transparent);

    &:hover {
        border: 1px solid var(--neutral-alpha-medium);
    }
}

.image {
    transition: var(--transition-micro-medium);
    transform: scale(1);
}
.custom-heading-nav > div > div {
  height: var(--static-space-64) !important;
}

.custom-heading-nav span.truncate {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: clip !important;
}
